* {
  margin: 0;
  padding: 0;
}

/****** Index.html ******/
.gameOne {
  width: 100vw;
}

.rowGameOne {
  width: 100vw;
  
}

.square {
  background-color: #000;
  height: 20vw;
  width: 20vw;
  display: inline-block;
}

/******phone.html******/

#phone {
  background-color: #000;
}
.pSquare {
  background-color: #000;
  height: 50vh;
  width: 33vw;
  display: inline-block;
}
